@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-gray-50 text-gray-800 font-sans;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded;
}
